body {
    font-family: Verdana, sans-serif;
    background-color: honeydew;
}

#question, #subtitle, #title {
    text-align: center;
}

#question, #title {
    font-size: 40px;
}

#subtitle {
    font-size: 16px;
}

#timer, #timer-label {
    font-size: 14px;
}

#timer {
    float: right;
}

#timer-label {
    float: right;
}

ul {
    list-style: none;
    text-align: center;
}

#resposne {
    font-style: italic;
}

#initials {
    text-align: center;
    display: none;
}

a:link, a:visited, a:hover a:active{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

#submit-button {
    display: none;
}