@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

* {
    font-family: Playfair Display;
}

body {
    background-color: #eee;
}

header {
    color: rgb(214, 214, 214);
    background-color: #888;
}

h1 {
    background-color: #333;
    text-align: center;
    margin: 0;
}

a {
    color: rgb(214, 214, 214);
}

ul {
    margin-top: 10px;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

li {
    display: inline-block;
}

.divider {
    padding-left: 8px;
    padding-right: 8px;
}